<!DOCTYPE html>
<html>
<head>
    <title>Add Item</title>
    <script type="text/javascript">
        function setForm(value) {

            if(value == 'Book') {
                document.getElementById('Book').style='display:block;';
                document.getElementById('Movie').style='display:none;';
                document.getElementById('Music').style='display:none;';
            }   
            else if(value == 'Movie') {
                document.getElementById('Movie').style = 'display:block;';
                document.getElementById('Music').style = 'display:none;';
                document.getElementById('Book').style='display:none;';
            }
            else {
                document.getElementById('Music').style = 'display:block;';
                document.getElementById('Movie').style = 'display:none;';
                document.getElementById('Book').style='display:none;';
            }
        }

        var loadFile = function(event) {
        var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

    </script>
    <style type="text/css" media="screen">
    
    label{
        display: inline-block;
        width: 140px;       
    }

    .formElements{
        margin-bottom: 2%;
    }

    .coverImg{
        overflow: auto;
        width: 30%;
    }

    img { 
      border: 5px solid #fff;
      border-radius: 5px;
      padding: 7px;
      width: 100px;
      height: 100px;
      float: right;

    }

    .btn
    {
      background-color: #008CBA; 
      border-radius: 7px;
      color: white;
      padding: 10px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
     
    }
</style>
</head>
<body>
    <div style="text-align:center">
        <span style="font-size: 2em;font-weight: bolder">Library Management System</span>
        <a href="#" style="float: right;font-size: x-large">Administrator</a>
    </div>
    <h2>Add Item</h2>
    <div class="formElements">
        <label>Content Type</label>
        <select id="contentType" onchange="setForm(this.value)">
            <option value="Book">Book</option>
            <option value="Movie">Movie</option>
            <option value="Music">Music</option>
        </select>
    </div>  
    <div id="Book">
        <form  method="post"  name="bookForm" action="">
            <div class="formElements">
                <label>Category</label> 
                <select id="bookCategory" >
                    <option value="Mystery">Mystery</option>
                    <option value="Romance">Romance</option>
                    <option value="History">History</option>
                    <option value="Sci-Fi">Sci-Fi</option>
                    <option value="Fantasy">Fantasy</option>
                </select>   
            </div>
            <div class="formElements">
                <label>Title</label> 
                <input type="text" name="bookTitle">
            </div>
            <div class="formElements">
                <label>Author</label> 
                <input type="text" name="bookAuthor">
            </div>
            <div class="formElements">
                <label>ISBN</label>
                <input type="text" name="bookISBN">
            </div>
            <div class="formElements">
                <label>Publisher</label>
                <input type="text" name="bookPublisher">
            </div>
            <div class="formElements">
                <label>Description</label>
                <textarea name="bookDescription"></textarea>
            </div>
            
            <div class="coverImg">
                <label>Cover Image:</label> 
                <input type="file" accept="image/*" onchange="loadFile(event)">
                <img id="output"/>
            </div>
           
            <span><button class="btn" id="save" name="saveBtn" >Save Item</button></span>
            <span><button class="btn" id="cancel" name="cancelBtn" >Cancel</button></span>           
        </form>
    </div>

    <div id="Movie" style="display: none"> 
        <form  method="post" name="movieForm" action="">
            <div class="formElements">
                <label>Category</label> 
                <select id="bookCategory" >
                    <option value="Action">Action</option>
                    <option value="Thiller">Thriller</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Drama">Drama</option>
                    <option value="Romance">Romance</option>
                </select>   
            </div>
            <div class="formElements">
                <label>Title</label> 
                <input type="text" name="movieTitle">
            </div>
            <div class="formElements">
                <label>Director</label> 
                <input type="text" name="movieDirector">
            </div>
            <div class="formElements">
                <label>Description</label>
                <textarea name="movieDescription"></textarea>
            </div>
            <div class="coverImg">
                <label>Cover Image:</label> 
                <input type="file" accept="image/*" onchange="loadFile(event)">
                <img id="output"/>
            </div>
            <span><button class="btn" id="save" name="saveBtn" >Save Item</button></span>
            <span><button class="btn" id="cancel" name="cancelBtn" >Cancel</button></span>
        </form> 
    </div>
    <div id="Music" style="display: none">
        <form  method="post" name="musicForm" action="">
            <div class="formElements">
                <label>Category</label> 
                <select id="bookCategory" >
                    <option value="Rock">Rock</option>
                    <option value="Soul">Soul</option>
                    <option value="Blues">Blues</option>
                    <option value="Country">Country</option>
                </select>   
            </div>
            <div class="formElements">
                <label>Title</label> 
                <input type="text" name="musicTitle">
            </div>
            <div class="formElements">
                <label>Artist</label> 
                <input type="text" name="musicArtist">
            </div>
            <div class="formElements">
                <label>Record Label</label>
                <input type="text" name="musicRecordLabel">
            </div>
            <div class="coverImg">
                <label>Cover Image:</label> 
                <input type="file" accept="image/*" onchange="loadFile(event)">
                <img id="output"/>
            </div>
            <span><button class="btn"  id="save" name="saveBtn" >Save Item</button></span>
            <span><button class="btn"  id="cancel" name="cancelBtn" >Cancel</button></span> 
        </form>
    </div>
</body>
</html>
    