<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Search Results</title>
      <style>
      td {
      	padding-bottom: 20px;
      	padding-right:50px
      }
      
      h5 {
      	margin: 0;
      	font-weight:400;
      }
      </style>
   </head>
	<body>		
	   	<div>
		  <form method="post"  onsubmit="return validateSearchForm()" th:action="@{/advancedSearch}" 
		  			style="float:left;line-height: 3em;">
      		<input type="text" th:field="${advancedSearchRequest.searchTerms}">
			<input type="checkbox" id="searchInBooks" th:field="${advancedSearchRequest.searchInBooks}" style="display:none"/>
			<input type="checkbox" id ="searchInMovies" th:field="${advancedSearchRequest.searchInMovies}" style="display:none"/>
			<input type="checkbox" id ="searchInMusic" th:field="${advancedSearchRequest.searchInMusic}" style="display:none"/>
			<input type="checkbox" id="bookTitle" th:field="${advancedSearchRequest.searchBookTitle}" style="display:none"/>
			<input type="checkbox" id="bookAuthor" th:field="${advancedSearchRequest.searchBookAuthor}" style="display:none"/>
			<input type="checkbox" id="bookCategory" th:field="${advancedSearchRequest.searchBookCategory}" style="display:none"/>
			<input type="checkbox" id="bookPublisher" th:field="${advancedSearchRequest.searchBookPublisher}" style="display:none"/>
			<input type="checkbox" id="bookDescription" th:field="${advancedSearchRequest.searchBookDescription}" style="display:none"/>
			<input type="checkbox" id="bookISBN" th:field="${advancedSearchRequest.searchBookISBN}" style="display:none"/>
			<input type="checkbox" id="musicAlbumName" th:field="${advancedSearchRequest.searchMusicAlbumName}" style="display:none"/>
			<input type="checkbox" id="musicArtist" th:field="${advancedSearchRequest.searchMusicArtist}" style="display:none"/>
			<input type="checkbox" id="musicRecordLabel" th:field="${advancedSearchRequest.searchMusicRecordLabel}" style="display:none"/>
			<input type="checkbox" id="movieTitle" th:field="${advancedSearchRequest.searchMovieTitle}" style="display:none"/>
			<input type="checkbox" id="movieDirector" th:field="${advancedSearchRequest.searchMovieDirector}" style="display:none"/>
			<input type="checkbox" id="movieDescription" th:field="${advancedSearchRequest.searchMovieDescription}" style="display:none"/>
      		<input type="submit">		      									
		  </form>		    
	   	  <a style="float:right;line-height: 3em;" href="logOut">Logout</a>
	   	  <span style="float:right;margin-right: 20px;line-height: 3em;" th:text="${userEmail}">Test</span>
	   	  <h1 style="text-align: center;">Welcome To The Library!</h1>
	   	</div>
		<div th:if="${not #lists.isEmpty(searchResults.books)}">
		  <span style="color: blue;display:block;width: 100%;">Books</span>
		  <div style="width: 9%;display: inline-block;vertical-align: top;" th:each="book : ${searchResults.books}">
			<a href="">
<!-- 			  <img style="width: 100%;" src="\searchResults\100001.jpg"/>
 -->						  
 				<img style="width: 100%;" th:src="${book.coverImageUrl}"/>
 				 <p th:text=${book.title} style="text-align: center;"></p>	
			</a>	  
		  </div>
		</div>
		<div th:if="${not #lists.isEmpty(searchResults.music)}">
		  <span style="color: blue;display:block;width: 100%;">Music</span>
			  <div style="width: 9%;display: inline-block;vertical-align: top;" th:each="music : ${searchResults.music}">
			  	<a href="">
			      <img style="width: 100%;" th:src="${music.coverImageUrl}"/>
			      <p th:text=${music.title} style="text-align: center;"></p>
			    </a>		  
			  </div>
		</div>		
		<div th:if="${not #lists.isEmpty(searchResults.movies)}">
		  <span style="color: blue;display:block;width: 100%;">Movies</span>
			  <div style="width: 9%;display: inline-block;vertical-align: top;" th:each="movie : ${searchResults.movies}">
			  	<a href="">
			      <img style="width: 100%;" th:src="${movie.coverImageUrl}"/>
			      <p th:text=${movie.title} style="text-align: center;"></p>	
			    </a>	  
			  </div>		  
		</div>	
		<div>	
		  <div style="margin-left: 40%">
		    <div style="display:inline-block;">
				<form method="post" th:action="@{/advancedSearch}">
		      		<input type="text" th:field="${advancedSearchRequest.requestedResultsPageNumber}" 
		      						maxlength="3" style="font-size:2em;margin: 0 0.5em; width:50px;padding: 0 2%;"/>
		      		<input type="text" th:field="${advancedSearchRequest.searchTerms}" style="display:none">
		      		<input type="submit" style="display:none">		      						
					<input type="checkbox" id="searchInBooks" th:field="${advancedSearchRequest.searchInBooks}" style="display:none"/>
					<input type="checkbox" id ="searchInMovies" th:field="${advancedSearchRequest.searchInMovies}" style="display:none"/>
					<input type="checkbox" id ="searchInMusic" th:field="${advancedSearchRequest.searchInMusic}" style="display:none"/>
					<input type="checkbox" id="bookTitle" th:field="${advancedSearchRequest.searchBookTitle}" style="display:none"/>
					<input type="checkbox" id="bookAuthor" th:field="${advancedSearchRequest.searchBookAuthor}" style="display:none"/>
					<input type="checkbox" id="bookCategory" th:field="${advancedSearchRequest.searchBookCategory}" style="display:none"/>
					<input type="checkbox" id="bookPublisher" th:field="${advancedSearchRequest.searchBookPublisher}" style="display:none"/>
					<input type="checkbox" id="bookDescription" th:field="${advancedSearchRequest.searchBookDescription}" style="display:none"/>
					<input type="checkbox" id="bookISBN" th:field="${advancedSearchRequest.searchBookISBN}" style="display:none"/>
					<input type="checkbox" id="musicAlbumName" th:field="${advancedSearchRequest.searchMusicAlbumName}" style="display:none"/>
					<input type="checkbox" id="musicArtist" th:field="${advancedSearchRequest.searchMusicArtist}" style="display:none"/>
					<input type="checkbox" id="musicRecordLabel" th:field="${advancedSearchRequest.searchMusicRecordLabel}" style="display:none"/>
					<input type="checkbox" id="movieTitle" th:field="${advancedSearchRequest.searchMovieTitle}" style="display:none"/>
					<input type="checkbox" id="movieDirector" th:field="${advancedSearchRequest.searchMovieDirector}" style="display:none"/>
					<input type="checkbox" id="movieDescription" th:field="${advancedSearchRequest.searchMovieDescription}" style="display:none"/>				
				</form>		    
		    </div>
		  </div>
		</div>
	</body>
	<script src="js/AdvancedSearchCreteriaInputValidation.js"></script>
</html>
