<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Spring MVC Form Handling</title>
      <style>
      td {
      	padding-bottom: 20px;
      	padding-right:50px
      }
      
      h5 {
      	margin: 0;
      	font-weight:400;
      }
      </style>
   </head>
   <body id="pageBody">
   	<div style="clear:both;">
   	</div>
	   	<div>	   	  
	      <form onsubmit="return validateSearchForm()" method="post" th:action="@{/basicSearch}"
	      			style="float:left;line-height: 3em;">
	      	<input id="searchTerms" type="text" th:field="${searchTermsAndPage.searchTerms}" style="width:100px;"/>
	      	<input type="submit">   	
	      </form>
	      <div th:if="${userEmail != null}">
			  <a style="float:right;line-height: 3em;" href="/logOut">Logout</a>
	   	  	  <span style="float:right;margin-right: 20px;line-height: 3em;" th:text="${userEmail}">Test</span>
   	  	  </div>
	      <h1 style="text-align: center;">Welcome To The Public Library!</h1>
	    </div>       
   </body>
   
   	<script src="js/BasicSearchCreteriaInputValidation.js"></script>
   
</html>