<html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<style type="text/css" media="screen">
		
			img {
				border: 5px solid #fff;
				border-radius: 5px;
				padding: 7px;
				width: 100px;
				height: 100px;
				float: right;
			}

			ul.breadcrumb {
			  padding: 10px 16px;
			  list-style: none;
			}
			
			ul.breadcrumb li {
			  display: inline;
			  font-size: 18px;
			}
			
			.breadcrumb li+li:before {
			  padding: 8px;
			  color: black;
			  content: "/\00a0";
			}
			
			ul.breadcrumb li a {
			  color: #0275d8;
			  text-decoration: none;
			}
		</style>
			
	</head>
	<body>
		<div style="text-align:center;margin-top:1%">
        	<span style="font-size: 2em;font-weight: bolder">Library Management System</span>
        	<div style="float:right; margin-right:2%; margin-top:1%;">
		       <label style="margin-right:4px;">ravizala420@gmail.com</label>
		       <label>logout</label>
    		</div>
        </div>
        
        <div class = "BreadCrumbs" style = "margin-left:5%">
        	<ul class="breadcrumb">
  				<a th:href="@{'/BrowsePage/'+${itemType}}"><b><li th:text=${itemType}> </li></b></a>
  				/
  				<b><li th:text=${category}></li></b>
			</ul>
        </div>
        
        <div style="width: 9%; display: inline-block; vertical-align: top;" th:each="displayItem:${displayItems}">
        	<img th:src="${'data:image/png;base64,'+displayItem.image}" alt=""/>
        	<a th:href="@{'/itemDetail/' + ${itemType} + '/' + ${displayItem.itemID}}"  th:text="${displayItem.title}">
        		<table>
        	</a>
		</div>
        
	</body>
</html>
