<html>
<style>
td {
	padding-bottom: 20px;
	padding-right: 50px
}

h5 {
	margin: 0;
	font-weight: 400;
}
</style>
<body>
	<form th:action="@{/forgotPassword}" th:object="${recoverPassword}" method="post">
		<table id="table">
			<tr>
				<td>Email:</td>
				<td><input name="uemail" type="text" id="uemail"
					th:field="*{email}" /></td>
			</tr>
			<tr>
				<td>Question:</td>
				<td th:text="${securityQuestion}">email error</td>
			    
			</tr>
			<tr>
			<tr>
				<td>Answer:</td>
			
				<td><input name="upass" type="password" id="upass"
					th:field="*{securityQuestionAnswer}" /></td>
			</tr>
			<tr>
				<td><button type="submit">Send Email</button></td>
			</tr>
		</table>
	</form>
</body>
</html>
