<html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	
		<style>
		
			img {
				border: 5px solid #fff;
				border-radius: 5px;
				padding: 7px;
				width: 100px;
				height: 100px;
				float: right;
			}
			
		</style>
	</head>
	<body>
	
		<div style="text-align:center;margin-top:1%">
        	<span style="font-size: 2em;font-weight: bolder">Library Management System</span>
        	<div style="float: right">
			<p style="float: left" th:text="${sessionClient}"></p>
			<a style="float: right; margin: 0 100px" th:if="${loggingStatus}=='Logout'" href="/logOut"><p
					th:text="${loggingStatus}"></p></a>
			<a style="float: right; margin: 0 100px" th:if="${loggingStatus}=='Register / Login'" href="/signIn"><p
					th:text="${loggingStatus}"></p></a>
	</div>
        </div>
        
        <div>
        	<div>
        		<img th:src="${'data:image/png;base64,'+displayDetailed.image}"   />
        	</div>
        	
        	<div>
        		<b><p th:text=${displayDetailed.title} /><b>
        		<p th:utext = ${displayDetailed.details} />
        	</div>
        </div>       	
        
        <form th:action="@{/borrowItem/{status}}" th:object="${displayDetailed}" method="post">
        <input type="hidden" th:field="*{title}" >
        <input type="hidden" th:field="*{itemID}">
        <input type="hidden" th:field="*{itemType}" >
		<input type="submit" th:value=${status} >
		</form>
        
	</body>
</html>
