<html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	
		<style>
		
			img {
				border: 5px solid #fff;
				border-radius: 5px;
				padding: 7px;
				width: 100px;
				height: 100px;
				float: right;
			}
			
			a:link {
				color: #0275d8;
				text-decoration: none;
			}
			
			a:visited {
			  color: #0275d8;
			  text-decoration: none;
			}
			
			div.details {
				max-width: 500px;
				margin: auto;
				border: 3px solid;
			}
			
		</style>
	</head>
	<body>
	
		<div style="text-align:center;margin-top:1%">
        	<span style="font-size: 2em;font-weight: bolder">Public Library</span>
        	<div style="float: right">
			<p style="float: left" th:text="${sessionClient}"></p>
			<a style="float: right; margin: 0 100px" th:if="${loggingStatus}=='Logout'" href="/logOut"><p
					th:text="${loggingStatus}"></p></a>
			<a style="float: right; margin: 0 100px" th:if="${loggingStatus}=='Register / Login'" href="/signIn"><p
					th:text="${loggingStatus}"></p></a>
			</div>
			
        </div>
        
        <div class = "BreadCrumbs" style = "margin-left:5%">
        		<B><h2><a th:href=@{'/welcome'}>Home</a><h2></B>
        </div>
        
        <div>
        	<div class="image">
        		<img th:src="${'data:image/png;base64,'+displayDetailed.image}"   />
        	</div>
        	
        	<div class="details">
        		<b><p th:text=${displayDetailed.title} /><b>
        		<p th:utext = ${displayDetailed.details} />
        	</div>
        </div>       	
        
        <form th:action="@{'/borrowItem/' + ${status}}" th:object="${displayDetailed}" method="post">
        <input type="hidden" th:field="*{title}" >
        <input type="hidden" th:field="*{itemID}">
        <input type="hidden" th:field="*{itemType}" >
		<input type="submit" th:value=${status} >
		</form>
        
	</body>
</html>
