<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>
   <head>
      <title>Spring MVC Form Handling</title>
      <style>
      td {
      	padding-bottom: 20px;
      	padding-right:50px
      }
      </style>
   </head>
   <body id="pageBody">
      <h2>Advanced Search</h2>      
      <form method="post" action="/search" th:action="@{/search}"   onsubmit="enableAllCheckBoxes()">
      	<div style="margin-bottom: 20px">
      		<p>Search Terms <input type="text" th:field="${searchResults}" style="width:330px;"/></p>
      	</div> 
      	<input type = "submit" value = "Search"/>  	
      </form>      
   </body>   
</html>