<html>
<script>
	function myFunction(str) {
		if (str == "check1") {
			var x = document.getElementById("password");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		} else {
			var x = document.getElementById("cpassword");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
	}

	//I might use this in futu
	/* function check() {
		if (document.getElementById('password').value === document
				.getElementById('cpassword').value) {
			return true;
		} else {
			document.getElementById('message').innerHTML = "no match";
			document.getElementById('message').style.color = "red";
			return false;
		}
	} */
</script>
<body>

	<form action="/signUp" th:action="@{/signUp}" th:object="${user}"
		method="post">
		<table id="table">
			<tr>
				<td>Full Name:</td>
				<td><input name="upass" type="text" th:field="*{fullName}" /></td>
				<td th:text="${fullName}">name error</td>
			</tr>


			<tr>
				<td>Phone:</td>
				<td><input type="number" name="uphone"
					th:field="*{phoneNumber}" /></td>
				<td th:text="${phoneNumber}">phone error</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input name="uemail" type="text" th:field="*{email}" /></td>
				<td th:text="${email}">email error</td>

			</tr>
			<tr>
				<td>Password:</td>
				<td><input name="upass" type="password" th:field="*{password}" /></td>
				<td th:text="${password}">Password error</td>

			</tr>
			<tr>
				<td><input type="checkbox" id="check1"
					onclick="myFunction('check1')">Show Password</td>
			</tr>

			<tr>
				<td>Confirm Password:</td>
				<td><input name="ucpass" type="password"
					th:field="*{cpassword}" /></td>
				<td th:text="${cpassword}">Password error</td>
				<td><span id='message'></span></td>

			</tr>
			<tr>
				<td><input type="checkbox" id="check2"
					onclick="myFunction('check2')">Show Password</td>
			</tr>

			<tr>

				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
</body>
</html>
