<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Spring MVC Form Handling</title>
      <style>
      td {
      	padding-bottom: 20px;
      	padding-right:50px
      }
      
      h5 {
      	margin: 0;
      	font-weight:400;
      }
      </style>
   </head>
   <body id="pageBody">
	   	<div style="clear:both;">
	   	  <h1 style="text-align: center;">Welcome To The Library!</h1>	   	  
	      <form id="simpleSearchForm" onsubmit="return validateSearchForm()" method="post" th:action="@{/simpleSearch}">
	      	<div style="margin-bottom: 20px">
	      		<p>Search Terms <input id="searchTerms" type="text" th:field="${simpleSearchRequestDetails.searchTerms}" style="width:100px;"/></p>
	      	</div>   	
	        <table>                        
	            <tr>
	               <td colspan = "2">
	                  <input type = "submit" value = "Search"/>
	               </td>
	            </tr>
	         </table>  
	      </form>
	     </div>       
   </body>
   
   	<script src="js/SimpleSearchCreteriaInputValidation.js"></script>
   
</html>