<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<title>Spring MVC Form Handling</title>
<style>
td {
	padding-bottom: 20px;
	padding-right: 50px
}

h5 {
	margin: 0;
	font-weight: 400;
}

.boxed {
	border: 1px solid green;
	padding: 30px;
}

a, a label {
	cursor: pointer;
}
/* Create two equal columns that floats next to each other */
.column {
	float: left;
	width: 50%;
	padding: 10px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
</style>
<script>
	//Get the elements with class="column"
	var elements = document.getElementsByClassName("column");

	// Declare a loop variable
	var i;

	// List View
	function listView() {
		for (i = 0; i < elements.length; i++) {
			elements[i].style.width = "100%";
		}
	}

	// Grid View
	function gridView() {
		for (i = 0; i < elements.length; i++) {
			elements[i].style.width = "50%";
		}
	}
</script>
</head>
<body style="margin: 0 100px;" action="post">
	<!-- <div style="float: left;">
		<p>
			Search Terms <input id="searchTerms" type="text"
				style="width: 250px;" />
		</p>
	</div> -->

	<div>
		<form onsubmit="return validateSearchForm()" method="post"
			th:action="@{/basicSearch}" style="float: left; line-height: 3em;">
			<a href="/advancedSearch"> Search Terms</a> <input id="searchTerms"
				type="text" th:field="${searchTermsAndPage.searchTerms}"
				style="width: 100px;" /> <input type="submit">
		</form>
	</div>

	<div style="float: right">
		<p style="float: left" th:text="${sessionClient}"></p>
		<a style="float: right; margin: 0 100px" th:if="${loggingStatus}=='Logout'" href="/logOut"><p
				th:text="${loggingStatus}"></p></a>
		<a style="float: right; margin: 0 100px" th:if="${loggingStatus}=='Register / Login'" href="/signIn"><p
				th:text="${loggingStatus}"></p></a>
	</div>

	<!-- <span style="float: right; margin-right: 20px; line-height: 3em;"
		th:text="${userEmail}">Test</span> -->
	<h1 style="text-align: center;">Welcome To The Library!</h1>
	<div style="margin-top: 50px;"></div>
	<div>
		<table th:if="*{isAdminAval}">
			<tr>
				<p>Admin Tools</p>
			</tr>
			<tr>
				<td><a href="/signIn"><div class="boxed">Add Library
							items</div></a></td>
				<td><a href="/signIn"><div class="boxed">Loan
							Management</div></a></td>
			</tr>
		</table>
	</div>
	<span style="color: blue; display: block; width: 100%;">New
		arrivals</span>
	<div style="width: 9%; display: inline-block; vertical-align: top;"
		th:each="books:${book}">
		<a href=""> <img
			th:src="${'data:image/png;base64,'+books.coverImageUrl}"
			width="100px" height="100px" />
			<p th:text="${books.title}" style="text-align: center;"></p>
		</a>
	</div>
	<div style="width: 9%; display: inline-block; vertical-align: top;"
		th:each="movies:${movie}">
		<a href=""> <img
			th:src="${'data:image/png;base64,'+movies.coverImageUrl}"
			width="100px" height="100px" />
			<p th:text="${movies.title}" style="text-align: center;"></p>
		</a>
	</div>
	<div style="width: 9%; display: inline-block; vertical-align: top;"
		th:each="musics:${music}">
		<a href=""> <img
			th:src="${'data:image/png;base64,'+musics.coverImageUrl}"
			width="100px" height="100px" />
			<p th:text="${musics.title}" style="text-align: center;"></p>
		</a>
	</div>
	<div style="margin-top: 50px;"></div>
	<span style="color: blue; display: block; width: 100%;">Most
		purchased</span>
	<div style="width: 9%; display: inline-block; vertical-align: top;"
		th:each="favbooks:${favBooks}">
		<a href=""> <img
			th:src="${'data:image/png;base64,'+favbooks.coverImageUrl}"
			width="100px" height="100px" />
			<p th:text="${favbooks.title}" style="text-align: center;"></p>
		</a>
	</div>
	<div style="width: 9%; display: inline-block; vertical-align: top;"
		th:each="favmovies:${favMovies}">
		<a href=""> <img
			th:src="${'data:image/png;base64,'+favmovies.coverImageUrl}"
			width="100px" height="100px" />
			<p th:text="${favmovies.title}" style="text-align: center;"></p>
		</a>
	</div>
	<div style="width: 9%; display: inline-block; vertical-align: top;"
		th:each="favmusic:${favMusic}">
		<a href=""> <img
			th:src="${'data:image/png;base64,'+favmusic.coverImageUrl}"
			width="100px" height="100px" />
			<p th:text="${favmusic.title}" style="text-align: center;"></p>
		</a>
	</div>

	<div>
		<table>
			<tr>
				<td><a href="/signIn"><div class="boxed">Books</div></a></td>
				<td><a href="/signIn"><div class="boxed">Movies</div></a></td>
				<td><a href="/signIn"><div class="boxed">Music</div></a></td>
			</tr>
		</table>
	</div>
	</div>

</body>

</html>